---
layout: page
---
<style>
    #fa-content, #fa-content p,
    .wrapper header h1,
    .wrapper header div span
    {
        direction: rtl;
        font-family: BNazanin, 'B Nazanin', Tahoma, serif !important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: BTitr, Titr, BNazanin, 'B Nazanin', Tahoma, serif !important;
        font-weight: bold;
        margin-top: 25px;
    }
    #fa-content p {
        text-align: justify;
        font-size: 20px;
        line-height: 200%;
        padding: 0 20px;
    }
</style>
<div id="fa-content">
    {{ content }}
</div>
