<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} - {{ site.name }}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/static/nprogress/nprogress.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script src="//cdnjs.cloudflare.com/ajax/libs/nprogress/0.1.6/nprogress.min.js"></script>
</head>
<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script> NProgress.start() </script>
    <link rel="stylesheet" href="/stylesheets/pygment_style_1.css">
    <link rel="stylesheet" href="/static/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>

    <div class="wrapper">
    <header class="without-description">
        <h1 lang="en">{{ page.title }}</h1>
        <div id="lang-select" class="make-switch" data-label-icon="icon-fullscreen"
             data-on="primary" data-off="success" data-on-label="en" data-off-label="فارسی" style="display: none"
             data-text-label="<span style='padding:0' class='glyphicon glyphicon-comment'></span>">
            <input type="checkbox" checked>
        </div>
        <a href="/"><span class="glyphicon glyphicon-home" id="menu-home"></span></a>
    </header>

<section id="content-section">
{{ content }}
</section>
</div>

<footer>
    <p><span lang="en">Content licensed under</span> <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">CC BY</a></p>
</footer>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-switch.js"></script>
    {{ page.extra_libs }}
    <script src="/javascripts/main.js"></script>

    <!-- fixes, shims and stats -->
    <script>fixScale=function(e){function t(){r.content="width=device-width,minimum-scale="+m[0]+",maximum-scale="+m[1],e.removeEventListener(i,t,!0)}var n="addEventListener",i="gesturestart",a="querySelectorAll",m=[1,1],r=a in e?e[a]("meta[name=viewport]"):[];(r=r[r.length-1])&&n in e&&(t(),m=[.25,1.6],e[n](i,t,!0))};</script>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <script type="text/javascript">var gaJsHost=(("https:"==document.location.protocol)?"https://ssl.":"http://www.");document.write(unescape("%3Cscript src='"+gaJsHost+"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
    <script type="text/javascript">try{var pageTracker=_gat._getTracker("UA-43201065-1");pageTracker._trackPageview();}catch(err){}</script>
    <script> NProgress.done() </script>

</body>
</html>
