---
layout: page
---

<style>
    #player {
        margin: 0 auto;
    }
</style>
<div>
    <div id="player" class="center">در حال بارگزاری پخش کننده...</div>
</div>
<script type="text/javascript" src="https://player.vidad.net/player.js"></script>
<script type="text/javascript">
    var player;

    function setupPlayer() {
        if (!player) {
            if (typeof jwplayer !== 'undefined') {
                player = jwplayer("player");
            } else {
                return;
            }
        }
        var vmapUrl = 'https://s.vidad.net/vmap/lV4vbCS9/{{ page.vmap }}?cache=no{{ page.vparams }}';
        if (window.location.hostname == 'localhost') {
            vmapUrl = 'http://127.0.0.1:8000/vmap/lV4vbCS9/{{ page.vmap }}?cache=no{{ page.vparams }}';
        }
        player.setup({
            file: "../videos/{{ page.video }}",
            aspectratio: "16:9",
            width: "100%",
            advertising: {
                client: 'vast',
                schedule: vmapUrl,
                vpaidmode:"enabled",
            }
        });
    }

    $(function() {
        setupPlayer();
    });
</script>
